
@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');


#keypad{
    width:100%;
}

#oprPad{
    width: 100%;
    background-color: teal;
}
#oprPad td{
    margin: 0px;
    padding: auto;
}
#oprPad button{
    width: 100%;
    text-align: center;
    
    color:white;
    height:5vh;
    font-size: 3vh;
    
}
#numPad{
    table-layout: fixed;
    width:100%;
    background-color: black;
    border-collapse: collapse;
}
#numpad td{
    margin: 0px;
    padding: auto;
}
#numPad button{
    width: 100%;
    text-align: center;
    color: white; 
    height:5vh;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}


