
@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

.button-animate{
    transition: transform 1s;
}
.button-animate:hover{
    transform: scale(1.1);
}
#keypad button{
    transition: transform 1s;  
}
#keypad{
    width:100%;
    background-image: white;
}

#oprPad{
    width: 100%;
    background-image: linear-gradient(45deg,rgb(61, 92, 230),rgb(19, 41, 236));
}
#oprPad td{
    margin: 0px;
    padding: 0px;
}
#oprPad button{
    width: 100%;
    text-align: center;
    font-family: 'Cambo', serif;
    color:white;
}
#numPad{

    table-layout: fixed;
    width:100%;
    background-color: black;
    border-collapse: collapse;
}

#numpad td{
    margin: 0px;
    padding: 0px;

}
#numPad button{
    width: 100%;
    text-align: center;
    color: white; 
}


