.var-bar{
    height: 88vh;
    margin-left: 10px;
    margin-right: 10px;
    width: 26%;
}

.calculator-pad{
    height: 90vh;
    position: relative;
    width: 40%;
}
.formula-bar{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    height: 88vh;
    resize: horizontal;
    overflow: auto;
}
.pad-container{
    display: flex;
}
.fx-list-toggle{
    display: none;
}
.var-bar-toggle{
    display: none;
}
.fx-list-display{
    display: block;
}

.fx-list-close{
    display: none;
}
.var-list-close{
    display: none;
}
.cal-pad-border{
    border:2px solid black;
}
.main-exp{
    font-size: 1.5vw;
}
.ans-wrapper{
    font-size: 1vw;
}
.ans::before{
content: 'Ans=';
padding-right: 4px;
}
@media screen and (max-width:768px) {
    .main-exp{
        font-size: 2.5vh;
    }
    .ans{
        font-size: 3vh;
    }
    .cal-pad-border{
        border: 0px;
    }
    .cal-pad-header{
        display: none;
    }
    .fx-list-toggle{
        display: block;
        position: absolute;
        top: 18%;
        left: 0;
        z-index: 3;
        background-color: lightcyan;
        padding: 3px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;
        font-family: 'Mulish', sans-serif;  
        color: darkorange;    
        font-weight: 700;  
        font-size: medium;
        font-size: 2.5vh;
    }
    .var-bar-toggle{
        display: block;
        position: absolute;
        top: 20%;
        right: 0; 
        z-index: 3; 
        background-color: lightcyan;
        padding: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;
        font-size: medium;
        font-weight: 700;
        font-family: 'Mulish', sans-serif;  
        font-size: 2.5vh;
    }
    .fx-list-close{
        display: inline-block;
    }
    .var-list-close{
        display: inline-block;
    }
    
    .var-bar{
       position: fixed;
       width: 80%;
       top: 0;
       right:0;
       background-color: azure;
       z-index:4;
       height: 100%;
       border: 0px;
    }
    .formula-bar{
        box-sizing: border-box;
        position: fixed;
        width: 90%;
        top:0;
        left: 0;
        height: 100vh;
        resize: none;
        z-index:4;
        }
    .var-bar-display{
        display: none;
    }
    .fx-list-display{
        display: none;
    }
    
    .calculator-pad{
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0px;
    }
}