.var-bar{
    height: 88vh;
    margin-left: 10px;
    margin-right: 10px;
    width: 26%;
}

.calculator-pad{
    height: 88vh;
    position: relative;
    width: 40%;
}
.formula-bar{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    height: 88vh;
    resize: horizontal;
    overflow: auto;
}
.pad-container{
    display: flex;
}
.fx-list-toggle{
    display: none;
}
.var-bar-toggle{
    display: none;
}
.fx-list-display{
    display: block;
}

.fx-list-close{
    display: none;
}
.var-list-close{
    display: none;
}

@media screen and (max-width:768px) {
    .fx-list-toggle{
        display: block;
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 3;
        background-color: orange;
        padding: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;
        width: fit-content;
    }
    .var-bar-toggle{
        display: block;
        position: absolute;
        top: 20%;
        right: 0; 
        z-index: 3; 
        background-image: linear-gradient(45deg,rgb(61, 92, 230),rgb(19, 41, 236));
        padding: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;
    }
    .fx-list-close{
        display: inline-block;
    }
    .var-list-close{
        display: inline-block;
    }
    
    .var-bar{
       position: fixed;
       width: 80%;
       top: 0;
       right:0;
       background-color: azure;
       z-index:4;
       height: 100%;
       border: 0px;
    }
    .formula-bar{
        position: fixed;
        width: 90%;
        top:0;
        left: 0;
        height: 100%;
        resize: none;
        z-index:4;
        }
    .var-bar-display{
        display: none;
    }
    .fx-list-display{
        display: none;
    }
    
    .calculator-pad{
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0px;
        box-sizing: border-box;
    }
}