
:root{
    --bg-color:red;
    --box-border-color:black;
    --box-bg-color:green;
}




.add-var-button{
    width:40px;
    height :20px;
    color:white;
    background-color: darkgreen;
}
.app-header{
    color:#000;
    
}
.app-header-name{
    transition: transform 2s;
}
.app-header-name:hover{
transform:translateX(20px);
}
.body{
    background-color: red;
}
.icon-rotate{
    transition: transform 1s;
}
.icon-rotate:hover{
    transform: rotate(360deg);
}
.theme-box-border{
    border:2px solid var(--box-border-color);
}
.no-style-button{
    border:0px;
    background-color: transparent;
    margin: 1px;
    padding: 1px;
}