body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Mulish',sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-header-name{
 font-family:  'Mulish',sans-serif;
 font-weight: bold;
 color: maroon;
}
.modal-title{
  font-family:  'Mulish',sans-serif;
  color: black; 
  font-weight: 400;
}